# Python virtual environment
venv/

# Storage directories
storage/

# Log files
setup.log
model_server.log

# macOS metadata
.DS_Store
._*

# Python cache
__pycache__/
*.pyc

# Temporary files
*.tmp
*.swp

# Dev Environment
docker-compose-dev.yml
compiled_sources.txt
compiled-overview.txt
compiled-scoped.txt
